* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  font-family: "Mulish", sans-serif;
  background: rgb(164, 96, 96);
  background: linear-gradient(
    50deg,
    rgba(164, 96, 96, 1) 0%,
    rgba(108, 104, 82, 1) 25%,
    rgba(104, 59, 59, 1) 50%,
    rgba(65, 62, 62, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}

.wrapper {
  width: 32rem;
  padding: 35px;
  border-radius: 20px;
  border: 3px solid #c9b795;
  background: #141b2f;
  color: white;
  box-shadow: 7px 10px 10px rgb(13 13 13);
}

.wrapper h2 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  font-family: "Exo 2", sans-serif;
}

.wrapper form {
  margin: 35px 0 20px 0;
}

form :where(input, select, button) {
  width: 100%;
  outline: none;
  border-radius: 15px;
  border: none;
}

form p {
  font-size: 20px;
  margin-bottom: 5px;
}

form input {
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  background: #00000099;
  color: white;
  border: 1px solid #999;
}

form input:focus {
  padding: 0 14px;
  border: 2px solid #675afe;
}

form .drop-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.from {
  width: 100%;
}

.to {
  width: 100%;
}

.drop-list .select-box {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  border-radius: 15px;
  padding: 0 20px;
  border: 2px solid #999;
  background: #080b13;
}

.select-box img {
  max-width: 22px;
}

.select-box select {
  width: 100%;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
  color: white;
  background: #080b13;
}

.select-box select::-webkit-scrollbar {
  width: 15px;
}

.select-box select::-webkit-scrollbar-track {
  background: #7e7e7e;
}

.select-box select::-webkit-scrollbar-thumb {
  background: #d8c8c8;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}

.drop-list .icon {
  cursor: pointer;
  margin-top: 10px;
  font-size: 25px;
  transform: rotate(90deg);
}

form .exchange-rate {
  font-size: 18px;
  margin: 23px 0 30px;
  text-align: center;
}

form button {
  height: 52px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  background: rgb(164, 96, 96);
  background: linear-gradient(
    50deg,
    rgba(164, 96, 96, 1) 0%,
    rgba(108, 104, 82, 1) 25%,
    rgba(104, 59, 59, 1) 50%,
    rgba(65, 62, 62, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );
  transition: 0.3s ease;
  border: 2px solid wheat;
}

form button:hover {
  box-shadow: 0 15px 10px rgba(26, 54, 62, 1);
}
